.container
  %ul
    - @comment.errors.full_messages.each do |message|
      %li= message
  %h2.form-title New comment
  = form_with(model: @comment, url: board_task_comments_path(@comment.task), local: true) do |f|
    .field
      %div
        = f.text_area :content
    %div
      = f.submit 'Submit', class: 'btn-primary'