@import "variables";

$avatar-size: 40px;
$back-icon-size: 16px;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
  height: 56px;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 102%;
    height: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.header-title {
  color: $text-base-color;
  line-height: $avatar-size;
  font-size: 18px;
}

.header-logos {
  min-width: 0;
  display: flex;

  img {
    cursor: pointer;
    width: $back-icon-size;
    height: $back-icon-size;
    margin: ($avatar-size - $back-icon-size) / 2 8px 0 0;
  }
}

.header-avatar {
  width: $avatar-size;
  height: $avatar-size;
  border-radius: 100%;
  margin-top: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  border: none;
}

.dropdown-content {
  font-weight: normal;
  display: none;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  a {
    padding: 8px 16px;
    display: block;
  }
}

.dropdown-content a:hover {
  background-color: lightgrey;
}

.dropdown:hover .dropdown-content {
  display: block;
}
