@import "variables";

.tabs {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  margin-top: 60px;
}

.tabs-item {
  background-color: $primary-color;
  width: 100%;
  padding: 10px 16px;
  max-width: 360px;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  a {
    display: block;
    text-decoration: none;
    color: $base-bg-color;
  }
}
